/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  /*
 - By default images are designed to be inline, hence properties like margin and padding do not affect it.
 - By explicitly setting the image to a block level element, it means that you are enabling properties like margin,padding and height to be applied to img tags
  */
  display: block;
  /* setting the image maximum width to a 100% of its parent container */
  max-width: 100%;
  /* setting height auto will automatically enable your image height to automatically respomg to the image width */
  height: auto;
}

input,
button,
textarea {
  /* This elements do not inherit font properties hence you need to explicitly define that when you want them to inherit */
  font: inherit;
}

/* css variables */
/* user root pseudo class to define the css variables */
:root {
  /* ---font variables--- */
  --font-family: "Nunito", sans-serif;
  --font-family-headings: "Fugaz One", cursive;
  /* clamp prevents us from adding many minoe media queries7u */
  --font-size: clamp(1rem, 2.2vh, 1.5rem);
  /* minimum font-size is 1rem,Ideal >> 2.2vh and maximum >> 1.5rem*/

  /* ---color variables---*/
  --background-color: orange;
  --background-color-fade: rgb(252, 220, 160);
  /* Default behaviour is from top to bottom */
  --background-image: linear-gradient(
    var(var(--background-color), var(var(--background-color-fade)))
  );
  --body-background-color: #fff;
  --font-color: #000;
}
